
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/assets/fonts/ppneuemontreal-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/assets/fonts/ppneuemontreal-medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: 'PP Neue Montreal', Arial, sans-serif;
}